DJANGO_SECRET_KEY=
DATABASE_NAME=open_marketplace
DATABASE_USER=open_marketplace
DATABASE_PASSWORD=
DATABASE_HOST=postgres
DATABASE_PORT=5432
TOTP_ENCRYPTION_KEY=
OUTBOX_ENCRYPTION_KEY=
LINK_EXCHANGE_ENCRYPTION_KEY=
THROTTLE_HASH_KEY=
DEBUG=false
DEMO_ORDERS_ENABLED=false
DEMO_CONTENT_ENABLED=false
DJANGO_SECURE_COOKIES=false
ALLOWED_HOSTS=localhost,127.0.0.1
APP_BASE_URL=http://localhost:8000
EMAIL_HOST=mailpit
EMAIL_PORT=1025
